<div
  class="card card-{{cardItem.card?.brand}}"
>
  <div class="card-header">
    <div class="card-header-default">
      <mat-icon *ngIf="defaultCard === cardItem.id">star</mat-icon>
    </div>
    <div class="actions">

      <mat-icon
        *ngIf="defaultCard !== cardItem.id"
        class="card-header-action"
        [matMenuTriggerFor]="menu"
      >more_horiz
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="setAsDefault()">
            <mat-icon>star</mat-icon>
            <span>Set as default</span>
          </button>
          <button mat-menu-item (click)="deleteCard()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-icon>
    </div>
  </div>
  <div class="card-number">
    <div class="card-number-title text-label-5"
    >Card number
    </div>
    <div class="card-number-number text-body-xl-400"
    >**** **** **** {{ cardItem.card?.last4 }}
    </div>
  </div>
  <div class="card-details">
    <div class="card-details-brand">{{ cardItem.card?.brand }}</div>
  </div>
</div>
