@use "variables" as v;

.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem 0;
  background: v.color(white);
  border: 1px solid v.color(gray-100);
  box-shadow: v.$shadow-1;
  border-radius: v.$rounded-md;

  &-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem v.toRem(25);
    color: v.color(gray-600);
    text-decoration: none;
    cursor: pointer;

    &.active {
      color: v.color(white);
      background: v.color(primary-500);
    }
  }
}
