@use 'variables' as v;

:host-context(.active) {
  .icon-button {
    background-color: v.color(primary-500);
    color: v.color(white);
  }
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  border: none;
  transition: all 0.3s;
  color: v.color(gray-900);
  width: 3rem;
  height: 3rem;

  &:hover {
    background-color: v.color(primary-500);
    color: v.color(white);
  }

  &-icon {
    font-size: 1.2rem;
  }
}
