@import "variables";

.new-card {
  &-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    label:first-child {
      grid-column: 1 / 3;
    }

    .stripe-input {
      border: 1px solid color(gray-100);
      border-radius: $rounded-md;
      padding: 0.5rem 1rem;
    }
  }
}
