<form
  class="login-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input
      matInput
      placeholder="Email"
      type="email"
      formControlName="email"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Password"
      type="password"
      formControlName="password"
    />
  </mat-form-field>
  <app-button
    type="submit"
    [block]="true"
    [disabled]="loginForm.invalid"
  >
    Login
  </app-button>
</form>
