@import "variables";

.header {
  top: 0;
  height: 64px;
  padding: 0 1rem;
  box-shadow: $shadow-1;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
  .loader {
    position: absolute;
    top: 0;
    left: 0;
  }
  .app-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
