<header class="header">
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate" class="loader"/>
  }
  <div class="header-wrapper container">
    <span
      routerLink="/"
      class="app-title"
    >{{ title }}</span>
    @if (router.url === '/products') {
      <input
        nz-input
        type="search"
        pSize="small"
        [(ngModel)]="searchTerm"
        (ngModelChange)="onSearch($event)"
      >
    } @else {
      <span></span>
    }
    <div class="actions">
      <button
        mat-icon-button
        (click)="onCartClick()"
      >
        <mat-icon [matBadge]="cartCount$ | async">shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onWishesClick()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onAccountClick()"
        class="account"
        [class.account-active]="profileService.isAuthorized()"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</header>
