<header class="header">
  @if (isLoading()) {
    <mat-progress-bar mode="indeterminate" class="loader"/>
  }
  <div class="header-wrapper container">
    <span
      routerLink="/"
      class="app-title"
    >{{ title }}</span>
    <input
      type="search"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearch($event)"
    >
    <div class="actions">
      <button
        mat-icon-button
        (click)="onCartClick()"
      >
        <mat-icon [matBadge]="cartCount$ | async">shopping_cart</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="onAccountClick()"
      >
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</header>
