@import "variables";

.header {
  background-color: color(secondary-700);

  &-wrapper {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: auto minmax(300px, 650px) auto;
    color: color(white);
    padding: 1rem 2rem;
    top: 0;
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
  }

  .app-title {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    button {
      color: color(white);
    }

    .account {
      &:before {
        content: "";
        border: 2px solid transparent;
        border-radius: 50%;
        position: absolute;
        width: 21px;
        height: 21px;
        top: 7.7px;
        left: 7.7px;
        transition: border-color ease-in-out 0.5s, box-shadow ease-in-out 0.5s;
      }

      &-active {
        &:before {
          border: 2px solid color(primary-500);
          box-shadow: 0 0 9px 1px color(primary-500);
        }

        &:hover:before {
          box-shadow: 0 0 9px 4px color(primary-500);
        }

      }

    }
  }
}
