@use "variables" as v;

@mixin button-styles($colors, $variant, $color, $state) {
  background-color: map-get(map-get($colors, $variant, $color), $state, bgc);
  border-color: map-get(map-get($colors, $variant, $color), $state, bc);
  color: map-get(map-get($colors, $variant, $color), $state, color);
}

@mixin button-colors($colors) {
  border-radius: v.$rounded;
  border: 2px solid;
  @each $variant, $value in $colors {
    @each $color, $value in $value {
      &-#{$variant}-#{$color} {
        @include button-styles($colors, $variant, $color, default);

        &:hover {
          @include button-styles($colors, $variant, $color, hover);
        }

        &:disabled {
          @include button-styles($colors, $variant, $color, disabled);
        }
      }
    }
  }
}

$colors: (
  contained: (
    primary: (
      default: (
        bgc: v.color(primary-500),
        bc: v.color(primary-500),
        color: v.color(white),
      ),
      hover: (
        bgc: v.color(primary-600),
        bc: v.color(primary-600),
        color: v.color(white)
      ),
      disabled: (
        bgc: v.color(primary-200),
        bc: v.color(primary-200),
        color: v.color(white)
      )
    ),
    secondary: (
      default: (
        bgc: v.color(secondary-500),
        bc: v.color(secondary-500),
        color: v.color(white),
      ),
      hover: (
        bgc: v.color(secondary-600),
        bc: v.color(secondary-600),
        color: v.color(white)
      ),
      disabled: (
        bgc: v.color(secondary-200),
        bc: v.color(secondary-200),
        color: v.color(white)
      )
    ),
    success: (
      default: (
        bgc: v.color(success-500),
        bc: v.color(success-500),
        color: v.color(white),
        hover: (
          bgc: v.color(success-600),
          bc: v.color(success-600),
          color: v.color(white)
        ),
        disabled: (
          bgc: v.color(success-200),
          bc: v.color(success-200),
          color: v.color(white)
        )
      ),
      warning: (
        default: (
          bgc: v.color(warning-500),
          bc: v.color(warning-500),
          color: v.color(white),
        ),
        hover: (
          bgc: v.color(warning-600),
          bc: v.color(warning-600),
          color: v.color(white)
        ),
        disabled: (
          bgc: v.color(warning-200),
          bc: v.color(warning-200),
          color: v.color(white)
        )
      ),
      danger: (
        default: (
          bgc: v.color(danger-500),
          bc: v.color(danger-500),
          color: v.color(white),
        ),
        hover: (
          bgc: v.color(danger-600),
          bc: v.color(danger-600),
          color: v.color(white)
        ),
        disabled: (
          bgc: v.color(danger-200),
          bc: v.color(danger-200),
          color: v.color(white)
        )
      ),
    ),
    warning: (
      default: (
        bgc: v.color(warning-500),
        bc: v.color(warning-500),
        color: v.color(white),
      ),
      hover: (
        bgc: v.color(warning-600),
        bc: v.color(warning-600),
        color: v.color(white)
      ),
      disabled: (
        bgc: v.color(warning-200),
        bc: v.color(warning-200),
        color: v.color(white)
      )
    ),
    danger: (
      default: (
        bgc: v.color(danger-500),
        bc: v.color(danger-500),
        color: v.color(white),
      ),
      hover: (
        bgc: v.color(danger-600),
        bc: v.color(danger-600),
        color: v.color(white)
      ),
      disabled: (
        bgc: v.color(danger-200),
        bc: v.color(danger-200),
        color: v.color(white)
      )
    ),
  ),
  outlined: (
    primary: (
      default: (
        bgc: v.color(white),
        bc: v.color(primary-500),
        color: v.color(primary-500),
      ),
      hover: (
        bgc: v.color(primary-600, 0.1),
        bc: v.color(primary-600),
        color: v.color(primary-600)
      ),
      disabled: (
        bgc: v.color(white),
        bc: v.color(primary-200),
        color: v.color(primary-200)
      )
    ),
    secondary: (
      default: (
        bgc: v.color(white),
        bc: v.color(secondary-500),
        color: v.color(secondary-500),
      ),
      hover: (
        bgc: v.color(secondary-600, 0.1),
        bc: v.color(secondary-600),
        color: v.color(secondary-600)
      ),
      disabled: (
        bgc: v.color(white),
        bc: v.color(secondary-200),
        color: v.color(secondary-200)
      )
    ),
    success: (
      default: (
        bgc: v.color(white),
        bc: v.color(success-500),
        color: v.color(success-500),
      ),
      hover: (
        bgc: v.color(success-600, 0.1),
        bc: v.color(success-600),
        color: v.color(success-600)
      ),
      disabled: (
        bgc: v.color(white),
        bc: v.color(success-200),
        color: v.color(success-200)
      )
    ),
    warning: (
      default: (
        bgc: v.color(white),
        bc: v.color(warning-500),
        color: v.color(warning-500),
      ),
      hover: (
        bgc: v.color(warning-600, 0.1),
        bc: v.color(warning-600),
        color: v.color(warning-600)
      ),
      disabled: (
        bgc: v.color(white),
        bc: v.color(warning-200),
        color: v.color(warning-200)
      )
    ),
    danger: (
      default: (
        bgc: v.color(white),
        bc: v.color(danger-500),
        color: v.color(danger-500),
      ),
      hover: (
        bgc: v.color(danger-600, 0.1),
        bc: v.color(danger-600),
        color: v.color(danger-600)
      ),
      disabled: (
        bgc: v.color(white),
        bc: v.color(danger-200),
        color: v.color(danger-200)
      )
    ),
  )
);
