
  <mat-card
    class="products-item"
    (click)="clickHandler(product.id)"
  >
    <div class="products-item-image">
      <img
        ngSrc="{{product.image}}"
        alt="{{product.title}}"
        mat-card-image
        fill>
    </div>
    <mat-card-content>
      <mat-card-title class="products-item-title">{{ product.title | titlecase }}</mat-card-title>
      <mat-card-subtitle class="products-item-subtitle">{{ product.description }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
