@import "variables";

.cart {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 450px);
  gap: 2rem;

  &-items-header {
    display: grid;
    grid-template-columns: 25px 72px 1fr 100px 70px 100px;
    gap: 2rem;
    height: 50px;
    align-items: center;
    justify-items: start;
    text-transform: uppercase;
    background-color: color(gray-50);
    border: 1px solid color(gray-100);
    border-left: none;
    border-right: none;
    padding: 0 1.5rem;

    span:first-child {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
}

