<app-info-block>
  <ng-container title>Order Details</ng-container>
  <div class="order">
    <div class="order-details">
      <div class="order-details-left">
        <span class="text-body-xl-400">#{{ order.id }}</span>
        <span class="text-body-s-400">
        Products {{ orderItems.length }}
          •
        Order Placed in {{ order.createdAt | date: 'medium' }}
      </span>
      </div>
      <div class="order-details-right">
        <h2 class="text-heading-2 order-details-total">{{ order.total | currency }}</h2>
      </div>
    </div>
    <app-order-items [orderItems]="orderItems"/>
  </div>
  <div class="order-footer">
    <app-address-info
      title="Billing Address"
      [address]="order.billAddress"
    />
    <app-address-info
      title="Shipping Address"
      [address]="order.shipAddress"
    />
    <div class="order-footer-notes">
      <span class="heading text-body-l-500">Order Notes</span>
      <span class="text-body-s-400">{{ order.orderNotes ?? 'There no any notes...' }}</span>
    </div>

  </div>
</app-info-block>
