<p-dialog
  header="Login"
  [modal]="true"
  [(visible)]="visible"
>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Email"
        type="email"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Password"
        type="password"
        formControlName="password"
      />
    </mat-form-field>
    <div class="flex justify-content-end gap-2">
      <button
        mat-button
        (click)="visible = false">
        Cancel
      </button>
      <button
        mat-flat-button
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
  </form>
</p-dialog>
