<div class="product-card">
  <div class="product-card-wrapper">
    <img
      class="product-card-image"
      [src]="product.images?.[0] || '/placeholder.png'"
      alt="{{ product.title }}"
    />
    <div class="product-card-actions">
      <app-icon-btn
        (click)="onClickWish($event)"
        [class.active]="isWished"
      >
        <mat-icon>favorite</mat-icon>
      </app-icon-btn>
      <app-icon-btn
        (click)="onClickAddToCart($event)"
      >
        <mat-icon>add_shopping_cart</mat-icon>
      </app-icon-btn>
    </div>
  </div>
  <span class="product-card-title body-sm-400">
    {{ product.title }}
  </span>
  <span class="product-card-price body-sm-600">
    {{ product.price | currency }}
  </span>
</div>
