@import "variables";

.profile-info {
  display: grid;
  grid-template-columns: 176px 1fr;
  gap: 1.5rem;

  .avatar {
    width: 176px;
    height: 176px;
    border-radius: 50%;
    object-fit: cover;
  }

  .inputs {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
