@import "variables";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif !important;
  font-size: 16px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.card-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

@include addFont(display, $display-fonts);
@include addFont(heading, $headings-fonts);
@include addFont(label, $label-fonts);
@include addBodyFont(body, $body-fonts);
