@import "variables";
@import "theme/fonts";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Public Sans', sans-serif !important;
  font-size: 16px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.card-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-badge-content {
  --mat-badge-legacy-container-size: unset;
  background-color: color(primary-500) !important;
}

@include addFont(text-display, $display-fonts);
@include addFont(text-heading, $headings-fonts);
@include addFont(text-label, $label-fonts);
@include addBodyFont(text-body, $body-fonts);
