@use "variables" as v;
@use "theme/fonts" as fonts;

html, body {
  height: 100%;
}

*:not(mat-icon) {
  font-family: 'Public Sans', sans-serif !important;
}

body {
  margin: 0;
  font-size: 16px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.card-grid {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.container {
  max-width: 1315px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-badge-content {
  --mat-badge-legacy-container-size: unset;
  background-color: v.color(primary-500) !important;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 0;
}

@include fonts.addFont(text-display, fonts.$display-fonts);
@include fonts.addFont(text-heading, fonts.$headings-fonts);
@include fonts.addFont(text-label, fonts.$label-fonts);
@include fonts.addBodyFont(text-body, fonts.$body-fonts);
