@use "functions" as f;

$display-fonts: (
  (
    'font-size': f.toRem(64),
    'line-height': f.toRem(72),
  ),
  (
    'font-size': f.toRem(56),
    'line-height': f.toRem(64),
  ),
  (
    'font-size': f.toRem(48),
    'line-height': f.toRem(56),
  ),
  (
    'font-size': f.toRem(40),
    'line-height': f.toRem(48),
  ),
  (
    'font-size': f.toRem(36),
    'line-height': f.toRem(44),
  )
);

$headings-fonts: (
  (
    'font-size': f.toRem(32),
    'line-height': f.toRem(40),
  ),
  (
    'font-size': f.toRem(28),
    'line-height': f.toRem(32),
  ),
  (
    'font-size': f.toRem(24),
    'line-height': f.toRem(32),
  ),
  (
    'font-size': f.toRem(16),
    'line-height': f.toRem(56),
  ),
  (
    'font-size': f.toRem(14),
    'line-height': f.toRem(48),
  )
);

$label-fonts: (
  (
    'font-size': f.toRem(18),
    'line-height': f.toRem(28),
  ),
  (
    'font-size': f.toRem(16),
    'line-height': f.toRem(24),
  ),
  (
    'font-size': f.toRem(14),
    'line-height': f.toRem(20),
  ),
  (
    'font-size': f.toRem(12),
    'line-height': f.toRem(15),
  ),
  (
    'font-size': f.toRem(11),
    'line-height': f.toRem(16),
  )
);

$body-fonts: (
  xxl:(
    400: (
      'font-size': f.toRem(24),
      'line-height': f.toRem(32),
    )
  ),
  xl: (
    400: (
      'font-size': f.toRem(20),
      'line-height': f.toRem(28),
    ),
    500: (
      'font-size': f.toRem(20),
      'line-height': f.toRem(28),
    ),
    600: (
      'font-size': f.toRem(20),
      'line-height': f.toRem(28),
    ),
  ),
  l: (
    400: (
      'font-size': f.toRem(18),
      'line-height': f.toRem(24),
    ),
    500: (
      'font-size': f.toRem(18),
      'line-height': f.toRem(24),
    ),
    600: (
      'font-size': f.toRem(18),
      'line-line-height': f.toRem(24),
    ),
  ),
  m: (
    400: (
      'font-size': f.toRem(16),
      'line-height': f.toRem(24),
    ),
    500: (
      'font-size': f.toRem(16),
      'line-height': f.toRem(24),
    ),
    600: (
      'font-size': f.toRem(16),
      'line-height': f.toRem(24),
    ),
  ),
  s: (
    400: (
      'font-size': f.toRem(14),
      'line-height': f.toRem(20),
    ),
    500: (
      'font-size': f.toRem(14),
      'line-height': f.toRem(20),
    ),
    600: (
      'font-size': f.toRem(14),
      'line-height': f.toRem(20),
    ),
  ),
  tiny: (
    400: (
      'font-size': f.toRem(12),
      'line-height': f.toRem(16),
    ),
    500: (
      'font-size': f.toRem(12),
      'line-height': f.toRem(16),
    ),
    600: (
      'font-size': f.toRem(12),
      'line-height': f.toRem(16),
    ),
  ),
  xs: (
    400: (
      'font-size': f.toRem(11),
      'line-height': f.toRem(12),
    ),
    500: (
      'font-size': f.toRem(11),
      'line-height': f.toRem(12),
    ),
    600: (
      'font-size': f.toRem(11),
      'line-height': f.toRem(12),
    ),
  ),
);


@mixin addFont($family, $fontMap) {
  $index: 0;
  .#{$family} {
    @each $font in $fontMap {
      &-#{$index + 1} {
        font-size: map-get($font, 'font-size') !important;
        line-height: map-get($font, 'line-height') !important;
        $index: $index + 1;
      }
    }
  }
}

@mixin addBodyFont($family, $fontMap) {
  @each $size, $weights in $fontMap {
    @each $weight, $font in $weights {
      .#{$family}-#{$size}-#{$weight} {
        font-size: map-get($font, 'font-size') !important;
        line-height: map-get($font, 'line-height') !important;
      }
    }
  }
}
