<div class="payment-methods">
  <app-info-block>
    <ng-container title>Payment methods</ng-container>
    <ng-container actions>
      <button
        basic-button
        (click)="addCard()"
      >
        add card
        <ng-container append>
          <mat-icon>arrow_forward</mat-icon>
        </ng-container>
      </button>
    </ng-container>
    @if (cards()) {
      <div class="payment-methods-cards">
        @for (card of cards(); track card.id) {
          <app-bank-card
            [cardItem]="card"
            [defaultCard]="customer()?.metadata?.default_source"
          />
        }
      </div>
    } @else {
      <div class="text-heading-1">No payment methods added</div>
    }
  </app-info-block>
  <div class="payment-methods-addresses">
    <app-address-block
      title="Billing address"
      [address]="user()?.billAddress"
    />
    <app-address-block
      title="Shipping address"
      [address]="user()?.shipAddress"
    />
  </div>
</div>
