@use "variables" as v;

.product {
  display: grid;
  grid-template-columns: 25px 72px 1fr 100px 70px 100px;
  gap: 2rem;
  align-items: center;
  justify-items: start;
  padding: 0 1.5rem;

  &-remove {
    color: v.color(gray-400);
    transition: color 0.2s;

    &:hover {
      color: v.color(danger-500);
    }
  }

  &-image {
    img {
      width: 100%;
    }
  }

  &-title {
    color: v.color(gray-900);
  }

  &-quantity {
    display: flex;
    width: 100%;
  }
}
