@use "variables" as v;
@use "sass:map";

$colors: (
  primary: (
    default: v.color(primary-500),
    hover: v.color(primary-600),
    disabled: v.color(primary-200)
  ),
  secondary: (
    default: v.color(secondary-500),
    hover: v.color(secondary-600),
    disabled: v.color(secondary-200)
  ),
  success: (
    default: v.color(success-500),
    hover: v.color(success-600),
    disabled: v.color(success-200)
  ),
  warning: (
    default: v.color(warning-500),
    hover: v.color(warning-600),
    disabled: v.color(warning-200)
  ),
  danger: (
    default: v.color(danger-500),
    hover: v.color(danger-600),
    disabled: v.color(danger-200)
  )
);

:host(.basic-button) {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  gap: v.toRem(8);
  text-transform: capitalize;

  @each $colorName, $state in $colors {
    &.basic-button-#{$colorName} {
      color: map.get($state, default);

      &:hover {
        color: map.get($state, hover);
      }

      &:disabled {
        color: map.get($state, disabled);
      }
    }
  }
}




